@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
:root {
  --animate-duration: 2s;

}

a {
  cursor: pointer;
}
* {
  font-family: 'Tajawal', sans-serif;

}
nav {
  margin: 0 auto;
}
nav ul li a {
  font-family: 'Tajawal', sans-serif;
  color: #fff;
}
.mobile_number_info {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5px;

}
.mobile_number_info img {
  width: 12px;
  height: 12px;
}
.mobile_number_info p {
  font-weight: bold;
}
.main_logo {
  width: 65px;
  height: 65px;
}
@media only screen and (max-width: 922px) {
  .main_logo {
    width: 40px;
    height: 40px;
  }
} 
header {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 089987;
  /* display: flex; */
  width: 100%;
}

/* Swiper  */
.swiper {
  width: 100%;
  height: 100%;
  position: relative;
  /* top: 0; */
  /* z-index: -1; */
}

.swiper-slide {
  height: 100vh;
  text-align: center;
  font-size: 18px;
  background: #fff;
  position: relative;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.slide_heading {
  position: absolute;
  background-color: #eee;
  opacity: 0.7;
}
.slide_heading h1 {
  color:#000000 !important;
}
.slide_1, .slide_2, .slide_3 {
  height: 100vh;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  color: white;
  overflow: hidden;
  opacity: 0.7;

  background-size: cover !important;
  background-repeat: no-repeat;
  
} 
.slide_1 {
  background:  url("./assets/slides/slider_11.jpeg");  /* fallback for old browsers */
  /* background: linear-gradient(rgb(255, 255, 255), rgb(6 6 6 / 80%)), url("./assets/slides/slider_11.jpeg"); */
    /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(rgb(255, 255, 255), rgb(6 6 6 / 80%)), url("./assets/slides/slider_11.jpeg"); */
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.slide_2 {
  background: url("./assets/slides/slider_12.jpeg"); ;  /* fallback for old browsers */
  /* background: linear-gradient(rgb(0 0 0), rgb(6 6 6 / 80%)), url("./assets/slides/slider_12.jpeg");   */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(rgb(0 0 0), rgb(6 6 6 / 80%)), url("./assets/slides/slider_12.jpeg");  */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.slide_3 {
  background: url("./assets/slides/slider_13.jpeg"); ;  /* fallback for old browsers */
  /* background: linear-gradient(rgb(0 0 0), rgb(6 6 6 / 80%)), url("./assets/slides/slider_13.jpeg");   */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(rgb(0 0 0), rgb(6 6 6 / 80%)), url("./assets/slides/slider_13.jpeg"); */
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.social_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex:1;
}
.social_icons_wrapper {

  width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      
      
}
.social_icons_wrapper a {
  display: flex;
  justify-content: center;
align-items: center;
}
.social_icons a img{ 
  width: 40px;
  height: 40px;
}
/* Swiper End  */
.wrapper {
  position: relative;
  height: 100vh;
}
.main-navigation {
  position: absolute;
  width: 100%;
  z-index: 89890;
}


/* Gallery  */
.gallery_section img {
  height: 300px;
  object-position: center;
  object-fit: cover;
  border-radius: 0.5rem;
  width: 100%;
  display: block;
}
.gallery_section .show_more_btn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

}


/* About Us  */


section.aboutUs .image_wrapper img {
    border: 1px solid #ddd;
border-radius: 4px;
padding: 5px;
/* width: 150px; */
}
section.aboutUs_content p{
  direction: rtl;
}
.aboutUs_content_heading {
  position: relative;
}
.aboutUs_content_heading::before {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0px;
  width: 100%;
  height: 14px;
  background: rgba(238,111,87,0.5);
  z-index: -1;
}
.short_intro {
  direction: rtl;
}








/* Google Maps  */
#map {
  width: 100%; /* The width is the width of the web page */
  margin-bottom: 20px;
}
#map iframe {
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  vertical-align: top;
}